header h1 a {
    color: darkgreen; 
    text-decoration: none !important;
   
}

header{
    display: flex;
    border-bottom: 1px dashed black;
    margin-bottom: 2rem;
    font-family: 'Fredoka', sans-serif;
}

body{
    font-size: 16px;
    font-weight: 'Fredoka', sans-serif;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin-left: 50px;
    margin-right: 50px;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
    font-weight: 900;
}
.nav-right a{
    color: darkgreen;
}
.about a, h2{
    color: darkgreen;
}
.about h2{
    font-family: 'League Spartan', sans-serif;
}
.about p{
    font-family: 'Lato', serif;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2{
    font-family: 'League Spartan', sans-serif;
    margin: 0.5rem 0;
    text-decoration:none;
}

.post-entry h2 a{
    color: rgb(10, 92, 10);
    text-decoration: none;
    text-decoration-color: darkslategray;
}


.post-entry h2 a:visited {
    color: darkgreen;
    text-decoration: none;
    text-decoration-color: darkslategray;
}

.post-entry p {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: black !important;
    font-family: 'Lato', serif;
}


.post-entry h2 a:hover {
    color: darkgreen;
}

footer{
    font-family: 'Fredoka', sans-serif;
    border-top: 1px dashed black !important;
    text-align: center;
}
footer a{
    color:darkgreen;
}

footer ul li{
    display: inline;
  }


.edit a{
    color: red;
    font-family: 'Fredoka', sans-serif;
}
